apiVersion: v1
kind: ReplicationController
metadata:
  labels:
    name: {APP_NAME_TMPL}
  name: {APP_NAME_TMPL}
  namespace: flasker-plugin
spec:
  replicas: 1
  selector:
    name: {APP_NAME_TMPL}
  template:
    metadata:
      labels:
        name: {APP_NAME_TMPL}
    spec:
      containers:
      - name: flasker
        image: core.madcore:5000/{APP_NAME_TMPL}:image
      imagePullSecrets:
      - name: myregistrykey
