apiVersion: v1
kind: Service
metadata:
  labels:
    name: {APP_NAME_TMPL}-service
  name: {APP_NAME_TMPL}-service
  namespace: flasker-plugin
spec:
  ports:
  - port: 9019
    targetPort: 9019
  selector:
    name: {APP_NAME_TMPL}
